body{
    background: linear-gradient(
      135deg,
      rgb(82, 229, 231) 10%,
      rgb(19, 12, 183) 100%
    );
    background-attachment: fixed;
  
    font-family: Georgia, "Times New Roman", Times, serif;
        
}

.weather-app-wrapper{
    max-width: 800px;
    margin: 30px auto;
}
.weather-app{
    
    padding: 25px;
    border: 4px #0047ab;
    border-radius: 30px;
    background-color: #1e90ff;
   
}

button{
    color: blanchedalmond;
}

.current-city-element{
    position: relative;
    text-align: right;
    color: blanchedalmond;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    position: relative;
    text-align: right;
    
    color: blanchedalmond;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
li:first-letter{
    text-transform: capitalize;
}

.weather-icon-and-temperature{
    border: 1px #0047ab;
    border-radius: 50%;
    background-color: #24a4e0;
}

.current-weather-icon{
    display: block;
    margin: 0 auto;
    width: 150px;
}

.current-temperature-element{
    text-align: center;
    color: blanchedalmond;
    
}


strong{
    font-size: 65px;
}

.units{
    position: relative;
    font-size:25px;
    top: -32px;
}

.forecast{
   text-align: center;
   color: blanchedalmond;
}

.min-temperature{
    font-size: 14px;
    opacity: 0.9;
}

small{
    text-align: center;
    color: blanchedalmond;
}


